<!-- Content for body -->

<%- contentFor('content_header') %>
<div class="row mb-2">
    <div class="col-sm-6">
      
      <h1 class="m-0" style="display: inline-block;"><%= data.header %></h1> &nbsp;&nbsp;&nbsp;
        <div class="" style="display: inline-block;">

        <ol class="breadcrumb">
          <% data.breadcrumbs.forEach((crumb) => { %>
            <% if(crumb.link == '#') { %>
            <li class="breadcrumb-item active"><%= crumb.text %></li>
            <% } else { %>
              <li class="breadcrumb-item"><a href="<%= crumb.link %>"> <%= crumb.text %></a></li>
            <% }%>

          <% }); %>

        </ol>
      </div>
    </div><!-- /.col -->
    <div class="col-sm-6">
      
    </div><!-- /.col -->
  </div><!-- /.row -->


  <%- contentFor('content') %>
  fgasdjfga kfjas fjf lgasdgk
  <%= data.sample %>